/* #userInput{
  padding-left: 30px;
  margin-left: 25%;
  height: 30px;
  width: 50%;
  background-color: #eff3f4;
} */
/* #newUserButton { */
  /* margin-top: 10px;
  margin-left: 43%;
  width: 14%;
  height: 30px;
  background-color: white; */
  /* margin-top: 10px;
  width: 14%;
  color: #fff;
  text-align: center;
  background-color: #606060;
  border: 1px solid transparent;
  margin-left: 43%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
} */

#newUserButton {
  width: 50%;
  color: #fff;
  text-align: center;
  background-color: #4eb8dd;
  border: 1px solid black;
  padding: 10px 10px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;

}
#newUserButton:hover {
  background-color: #3c99b9;
}


#userInput:focus {
  outline: none;
  border-color: #4eb8dd;

}
#error{
  margin-top: 10px;
  text-align: center;
}
#userInput {
  width: 100%;
  padding: 12px 12px;
  box-sizing: border-box;
/*   background-color: #eee; */

  background-color: #eff3f4;
  border: 1px solid grey;
  font-size: 16px;
  border-radius: 3px;
  transition: 0.2s ease-in;
}
#container {
  background-color: #fff;
  /* min-height: 300px; */
  width: 500px;
  height: 180px;
  margin: 70px auto;
  box-shadow: 2px 4px 6px #ededed;
  /* border: 1px solid #eee; */
  border: 2px solid #d6d6d6;
  padding: 10px 25px;
  padding-top: 40px;
  border-radius: 3px;

}
